<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.renyu.imagelibrary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application>
        <activity
            android:name=".camera.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".camera.CameraLandscapeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".camera.CameraPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".camera.VideoRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".crop.CropUActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".preview.ImagePreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".photopicker.VideoPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".preview.PreviewActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
